*{
    padding: 5px;
    margin: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    background-color: black; 
    font-family: cursive; 
    }
.menu{
    display: none;
}
header{
    width: 100%;
}
header nav{
    background: white;
    z-index: 1000;
    max-width: 1500px;
    width: 100%;
    margin: 7px auto;    
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    position: relative;
}
header nav ul li:hover{
    background: rgb(180, 170, 170);
}
header nav ul li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 8px;
}
header nav ul li a span {
    margin-right: 5px;
}
header nav ul li:hover .hijos{
   display: block;  
}
header nav ul li .hijos {
    display: none;
    position: absolute;
    width: 170%;
    z-index: 1000;
}
header nav ul li .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: 2px solid black;
}
header nav ul li .hijos li a{
    color: white;
    display: block;
}
header nav ul li .hijos li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}
header nav ul li:hover .hijos1{
    display: block;  
}
header nav ul li .hijos1 {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
   
}
header nav ul li .hijos1 li{
    display: block;
    overflow: hidden;
    border-bottom: 2px solid black;
    padding: 0 70px;
    color: white;
}
header nav ul li .hijos1 li a{
    color: white;
    display: block;
}
header nav ul li .hijos1 li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}
header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}
@media screen and (max-width: 800px){
    body{
        padding-top:80px;
    }
    .menu{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: white;
        
    }
    .menu .bt-menu{
        
        display: block;
        padding: 2px;
        color: black;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu span {
        float: right;
        font-size: 40px;

    }
    header nav {
        width: 80%;
        height: calc(100% - 145px);
        position: fixed;
        right:100%;        
        margin: 0;
        overflow: scroll;
    }
    header nav ul li {
        display: block;
        border-bottom: 2px solid black;
    }
    header nav ul li a{
        display: block;
    }
    header nav ul li:hover .hijos{
        display: none;
    }
    header nav ul li:hover .hijos1{
        display: none;
    }
    header nav ul li .hijos {
        width: 100%;
        position: relative;
        
    }   
    header nav ul li .hijos1 {
        width: 100%;
        position: relative;
        
    }
    header nav ul li .hijos li a{
        margin-left: 20px;
        color: black;

    }
    header nav ul li .hijos1 li a {
        margin-left: 20px;
        color: black;
    }
    header nav ul li .hijos1 li:hover {
        background: rgb(125, 188, 196);;
    }
    header nav ul li .hijos li:hover {
        background: rgb(125, 188, 196);;
    }
    header nav ul li .caret {
        float: right;
    }
}
.tabla{
    width: 100%;
    padding: 0;
}
.imagen{
    text-align: center;   

}
.imagen2{
    text-align: left;   
}
.imagen1{
    text-align: right;
    padding: 0,5rem  1rem;
}
a{
    text-decoration: none;
    color: white;
}
.h1{
    color: white;
    font-size: 25;
    text-align: center;
    font-family: cursive;
    padding: 1rem;
}
h1{
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    padding: 5rem ;
}
h2{
    background-color:white;
    font-size: 0rem;
    color: #EABE3F;
    width: 100%;
    height: 3px;
}
.h2{
    background-color: white;
}
.p1{
    padding: 0px ;
}
.h3{
    font-family: cursive;
    color: white;
    font-size: 18px;
    text-align: center;
}
h3{
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 0rem 1rem;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    padding: 0px;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
p{
    color: white;
    text-justify: auto;
    font-family: 'Times New Roman', Times, serif; 
    text-align: initial;
    font-size: 15
    px;
}
.tabla{
    margin-right: 1px;
    margin-left: 20px;
}
title{
    text-align: center;
    color: white;
    font-size: 20pxs;
}
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    text-align: center;
    display: flex;
    padding: 0%;
    width: 1000%; 

    animation: cambio 50s infinite alternate;
    animation-timing-function: steps(6);
}
.slider li{
    text-align: center;
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
    
}
@keyframes cambio{
    0% {margin-left: 0;}
    8% {margin-left: 0;}
    10% {margin-left: -100%;}
    18% {margin-left: -100%;}
    20% {margin-left: -200%;}
    28% {margin-left: -200%;}
    30% {margin-left: -300%;}
    38% {margin-left: -300%;}
    40% {margin-left: -400%;}
    48% {margin-left: -400%;}
    50% {margin-left: -500%;}
    58% {margin-left: -500%;}
    60% {margin-left: -600%;}
    68% {margin-left: -600%;}
    70% {margin-left: -700%;}
    78% {margin-left: -700%;}
    80% {margin-left: -800%;}
    88% {margin-left: -800%;}
    90% {margin-left: -900%;}
    100% {margin-left: -900%;}
}
